$max-width: 50em !default;

// Padding used for layout margins
$pad-min: 18px !default;
$pad-narrow: 25px !default;
$pad-medium: 35px !default;
$pad-wide: 55px !default;

$indented-lists: false !default;

$header-font-size: 1em !default;
$header-padding-top: 1.0em !default;
$header-padding-bottom: 0.5em !default;

.group { @include pie-clearfix; }

body {
  max-width: $max-width;
  position: relative;
  margin: 0 auto;
  > header, > nav, > footer, article {
    @extend .group;
    margin-left: 18px;
    margin-right: 18px;
  }
  > header {
    font-size: $header-font-size;
    padding-top: $header-padding-top;
    padding-bottom: $header-padding-bottom;
    text-align: center;
    text-transform: uppercase;    
  }
}

#content {
  overflow: hidden;
  > div, > article { width: 100%; }
}

.flex-content { max-width: 100%; height: auto; }

.basic-alignment {
  &.left { float: left; margin-right: 1.5em; }
  &.right { float: right; margin-left: 1.5em; }
  &.center { display:block; margin: 0 auto 1.5em; }
  &.left, &.right { margin-bottom: .8em; }
}