body > footer {
  @extend .sans;
  font-size: .7em;
  color: $footer-color;
  background-color: #FFFFFF;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 3em;
  text-align: center;
  z-index: 1;
  p:last-child { margin-bottom: 0; }
}