.about {
	padding-bottom: 0em;
}

.avatar {
    text-align: center;
    > img {
        border-radius: 120px;
    }
}

 .author_info {    
    clear: both;
    padding-top: 1em;
    width: 80%;
    padding-left: 13%; 
}   
